.Login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginContainer{
    border: 1px #727932 solid;
    box-shadow:  2px 7px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-inline: 3%;
}
.formContainer{
    color: #525723;
    border: 1px #727932 solid;
    background-color: #f7ffab ;
    box-shadow:  2px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    padding-inline: 10%;
    padding-block: 2%;
}
.titleContainer{
    color: #525723; 
    margin-bottom: 1%;
    display: inline-flex;
    align-items: center;
    width: 50%;
}
.loginTitle{
    font-size: 2em;
    padding-left: 7%;
}
.loginInputContainer{
    text-align: left;
    margin-bottom: 8%;
    width: 100%;
}
.formTitle{
    margin-bottom: 15%;
}
.loginInput{
    width: 100%;
}
.loginButton{
    margin-top: 5%;
    /* margin-bottom: 8%; */
}
.alertLogin{
    margin: 10px;
    margin-bottom: 10%;
}