.Todolist{
    background-color: #f7ffab;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-shadow: 3px 3px #52572328;
}
.titleRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #525723; 
    width: 100%;
}
.titleRowBegin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin-right: 3%;
}
.titleRowBegin>h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.titleRowDelete{
    margin-left: 3%;
    margin-right: 3%;
}
.titleRowEditSave{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    width: 17%;
}
.todos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.addTodo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.noTask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #525723; 
    width: 100%;
}
.noTask>h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


